<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title - site.name }}</title>
        <meta charset="utf-8">
        {% seo %}
        <!--Imports-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <!--inWebsite-->
        <link href="https://imglobals.github.io/dl/manyfly.css" rel="stylesheet">
        <style>body { font-family: 'Fira Code', monospace; }</style>
    </head>
    <body>
        <div class="container">
            <header>
              NoobyRBLX
            </header>
            {{ content }}
          </div>
          <footer>
            Subscribe
          </footer>
    </body>
</html>