<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title - site.name }}</title>
        <meta charset="utf-8">
        {% seo %}
        <!--Imports-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header>
              NoobyRBLX
            </header>
            {{ content }}
          </div>
          <footer>
            Subscribe
          </footer>
    </body>
</html>